.ca img{
    height:150px !important;
    
}
.ca{
    position: relative !important;
    height: 320px !important;
    width:300px !important;
}
.bp{
    height: 320px !important;
}
.Bl{
  margin-top: 3em !important;
  padding: 0.5em !important;
  width:90%;
  margin: 0 auto;
  /* height:fit-content !important; */

}
.lef{
    width:20%;
}
.ri{
     /* position: absolute; */
     /* left:45%; */
     margin-left: 20px;
}